<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.langerhans.one"
	android:versionCode="19"
	android:versionName="2.6" >

	<uses-sdk
		android:minSdkVersion="16"
		android:targetSdkVersion="19" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_SUPERUSER"/>

	<application
		android:allowBackup="true"
		allowSkinChange="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >
		<activity
			android:name="com.langerhans.one.MainActivity"
			android:label="@string/app_name"
			android:configChanges="keyboardHidden|orientation|screenSize" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="com.htc.settings.category.PLUGIN_ENTRY"/>
			</intent-filter>
			<meta-data android:name="plugAnchorItem" android:value="personalize"/>
			<meta-data android:name="plugAnchorShift" android:value="-1.0"/>
		</activity>
		<activity
			android:name="com.langerhans.one.ReorderActivity"
			android:label="@string/eqs_reorder"
			android:configChanges="keyboardHidden|orientation|screenSize" >
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.PREFERENCE" />
			</intent-filter>
		</activity>
		<activity android:theme="@style/Invisible" android:name="com.langerhans.one.DimmedActivity" android:exported="true" android:launchMode="singleInstance" android:excludeFromRecents="true" />
		<activity android:name="com.langerhans.one.AboutScreen" android:screenOrientation="portrait" />
		<meta-data android:value="true" android:name="xposedmodule"/>
		<meta-data android:value="42+" android:name="xposedminversion"/>
		<meta-data android:value="Several Mods for Sense 5" android:name="xposeddescription"/>
	</application>

</manifest>
